{% extends '../Common/Home.html' %}
{% block content %}
<section class="book_section layout_padding" id="section-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>Login</h2>
                        {% if form.non_field_errors %}
                            <p class="error">{{ form.non_field_errors.0 }}</p>
                        {% endif %}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <input type="email" class="form-control" name="username" placeholder="Your Email" required/>
                        </div>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="btn_box">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}